<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Welcome to ComputerCrib!</h1>
        <p class="lead">Find the perfect computer for you.</p>
        <hr class="my-4">
        <div class="row">
          <div class="col-md-6">
            <p class="text-justify">At ComputerCrib, we believe that finding the right computer shouldn't be a hassle. That's why we offer a wide range of computers for rent that are perfect for any situation, whether you need a laptop for work or a gaming PC for play.</p>
            <p class="text-justify">Our computers are always up-to-date and come equipped with the latest software and hardware to ensure that you get the best performance possible. And with our flexible rental options, you can rent a computer for as long or as short a time as you need.</p>
            <p class="text-justify">So why wait? Browse our selection of computers today and find the perfect one for you!</p>
          </div>
          <div class="col-md-6">
            <img src="https://www.rentamac.co.nz/wp-content/uploads/2019/07/montage-imac-ipad-macbook-2.jpg" class="img-fluid rounded" alt="ComputerCrib Computers">
          </div>
        </div>
        <div class="text-center mt-4">
          <%= link_to "Browse Computers", offers_path , class: "btn btn-deep-orange custom-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
