@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #acacad 0%, #acacad 99%, #acacad 100%);
}
.darken-grey-text {
    color: #020202;
}

button.btn-deep-orange {
  background-color: rgb(177, 177, 177) !important;
}

button.btn-deep-orange {
  color: black !important;
}
