@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #acacad 0%, #acacad 99%, #acacad 100%);
}
.darken-grey-text {
    color: #020202;
}

.custom-button {
  background-color: rgb(197, 196, 196) !important;
  color: black !important;

}
