.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  margin-right: 1rem;
  width: 200px;
}

.form-group input[type="text"] {
  flex: 1;
}

.email {
  width: 90%;
}

.password {
  width: 90%;
}
